/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL:
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 20px;
}

.mb {
	margin-bottom: 20px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

}
body {
   background-color: #4f4f4f;
   color: #353535;
   opacity: 1;

	}

h4{
	font-weight: 700;
    color: #fc9f3b;

}
h1, h2, h3, h5, h6 {
 font-weight: 700;
   color: #fff;

}

p{
   color: #fff;
}

.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #018e66;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #018e66;
	background-color: transparent;
	border-bottom: 3px solid #018e66
}

.navbar-default .navbar-nav > li > a {
	color: #018e66;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  background: url(../images/bg.jpg) no-repeat center top;
margin-top: -70px;
padding-top: 200px;
text-align:center;
background-attachment: relative;
background-position: center center;
min-height: 500px;
width: 100%;



    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h3,h2 {
	color:#ffffff;
	padding-top: 8px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 30px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}
#background{
  background-color: #D3D3D3;
}

#social {

  margin-top:10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
	background-color: #f2f2f2;
}

#social i {
	font-size: 30px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}
#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {
	background: url(../images/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff;
}

/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}
#login-dp{
    min-width: 350px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.login-bottom-text{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	color: white;
	line-height: 19px;
}
.btn-fl{
    color: #fff;
    background-color:#00BFFF;
    padding: 8px 30px;
    margin: 0 auto;
    display: block;

}
.btn-fl:hover{
    color: #fff;
    background-color: #00CCFF;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
    padding: 10px 25px;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-gg{
    color: #fff;
    background-color:#e01625;
    padding: 10px 25px;
}
.btn-gg:hover{
    color: #fff;
    background-color:#f80e20;

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.form-separator {
    margin: 15px 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}
.navbar-login
{
    width: 480px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
.user-pad {
padding: 20px 25px;
}
[Button]
------------------------------------------------------------------*/
.btn-theme {
position: relative;
display: inline-block;
line-height: 1.4;
text-align: center;
background-image: none;
border-style: solid;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.btn-theme:focus, .btn-theme:active:focus, .btn-theme.active:focus, .btn-theme.focus, .btn-theme:active.focus, .btn-theme.active.focus {
outline: none;
}

.btn-theme:hover {
transition-duration: 300ms;
transition-property: all;
transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.btn-theme:hover, .btn-theme:focus, .btn-theme.focus {
text-decoration: none;
}

.btn-theme:active, .btn-theme.active {
background-image: none;
outline: 0;
}

.btn-theme.disabled, .btn-theme[disabled],
fieldset[disabled] .btn-theme {
cursor: not-allowed;
box-shadow: none;
opacity: .65;
pointer-events: none;
}

.btn-icon {
position: relative;
top: 1px;
margin-right: 10px;
}

.btn-white-bg {
color: #515769;
background: #fff;
border-color: transparent;
border-width: 0;
}

.btn-white-bg:hover, .btn-white-bg:focus, .btn-white-bg.focus {
color: #fff;
background: #17bed2;
border-color: transparent;
}

.btn-white-brd {
color: #fff;
background: transparent;
border-color: #fff;
border-width: 2px;
}

.btn-white-brd:hover, .btn-white-brd:focus, .btn-white-brd.focus {
color: #515769;
background: #fff;
border-color: #fff;
}

.btn-default-bg {
color: #515769;
background: #f3f4f5;
border-color: transparent;
border-width: 0;
}

.btn-default-bg:hover, .btn-default-bg:focus, .btn-default-bg.focus {
color: #fff;
background: #17bed2;
border-color: transparent;
}

.btn-theme-sm {
font-size: 13px;
font-weight: 600;
padding: 15px 40px;
}

.btn-theme-md {
font-size: 15px;
font-weight: 600;
padding: 20px 30px;
}
