@(user: models.User)(implicit messages: Messages)
<!-- dbforuminfo : Seq[models.Foruminfo] -->
<!DOCTYPE html>
@main(Messages("home.title"), Some(user)){

  <br><br>
  <div class="container">
      <div class="inner">
           <div class="mt mb ">
              <h3><i class="fa fa-folder-open" aria-hidden="true"></i> MY COLLECTIONS</h3>
          </div>
          <div class="panel panel-info">
             <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
              <ul class="breadcrumb">
                  <li>
                      <i class="fa fa-plus-square" aria-hidden="true"></i><a href="#"> collection</a>
                  </li>
                      <li ><a  data-toggle="modal" href="#myModal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></i>

              </ul>
          </div>
          <!--show collection-->
             <div class=" col-sm-3">
               <div class="box2">
                   <a  class="image fit"><img src="@routes.Assets.at("images/pic01.jpg")" alt="" width="300" height="150"/></a>
               <div class="inner">
                   <h5>Nascetur nunc varius commodo</h5>
                    <a href="/selectModel" class="button style3 fit" ><i class="fa fa-eye" aria-hidden="true"></i> Watch</a>
               </div>
              </div>
            </div><!--col-sm3-->
         </div><!--row-->
       </div><!--inner-->
     </div><!--container-->
   </div>
</div>

}

<!--dialog edit -->
          <!-- <div class="modal" id="myModal" role="dialog">
	                <div class="modal-dialog">
                     <div class="modal-content">
                           <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title">Edit Collection</h4>
                            </div>
                    <div class="modal-body">
                         <div class="well">
                                  <label >Name</label>
                                  <input type="text" class="form-control"  name="text" value="" required="" placeholder="name collection">
                        <div class="form-group">
                                  <label >Description</label>
                                   <textarea class="form-control" rows="4" ></textarea>
                       </div>
                     </div>
                   </div>
                       <div class="modal-footer">
                                  <a href="#" data-dismiss="modal" class="btn">Close</a>
                                  <a href="#" class="btn btn-primary">Save changes</a>
                      </div>
                  </div>
              </div>
          </div> -->
