@(user: models.User, col : Seq[models.Collection],dbartwork : Seq[models.ArtWork])(implicit messages: Messages)
<!-- dbforuminfo : Seq[models.Foruminfo] -->
<!DOCTYPE html>
@main(Messages("home.title"),Some(user)){

  <br><br>
  <div class="container">
      <div class="inner">
           <div class="mt mb ">
              <h3><i class="fa fa-folder-open" aria-hidden="true"></i>แฟ้มสะสมผลงาน</h3>
          </div>
          <div class="panel panel-info">
             <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
              <ul class="breadcrumb">
                  <li>
                      <i class="fa fa-plus-square" aria-hidden="true"></i><a href="#">  แฟ้มสะสมผลงาน</a>
                  </li>
                      <!-- <li ><a  data-toggle="modal" href="#myModal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></i> -->

              </ul>
          </div>
          <!--show collection-->
          @for(artwork
          <- dbartwork ){
             @for(c <- col){
               @if(artwork.id == c.artworkid){
             <div class=" col-sm-3">
               <div class="box2">
                     <a  class="image fit"><img src=@routes.Assets.at(s"members/${artwork.userID}/${artwork.picture}") width="300" height="150"/></a>

                     <div class="inner">
                       <h5>@artwork.title</h5>
                       <a href="@routes.IndieApplication.showmodel(artwork.id, artwork.userID )" class="button btn-sm" ><i class="fa fa-eye" aria-hidden="true"></i> แสดง</a>
                       @c.id.map{ a=>
                         <a href="@routes.ApplicationController.deleteCol(a)" class="button btn-sm" ><i class="fa fa-trash-o" aria-hidden="true"></i> ลบ</a>
                       }

                </div>
              </div>
            </div><!--col-sm3-->
          }
        }
    }


         </div><!--row-->
       </div><!--inner-->
     </div><!--container-->
   </div>
</div>

}
