@import forms._
@(user: models.User,uploadForm: Form[forms.uploadForm.Data])(implicit request: RequestHeader , messages: Messages)

<!DOCTYPE html>
@import b3.inline.fieldConstructor
@blend = @{ Seq("Category"->"หมวดหมู่","Character"->"ตัวละคร","Assets"->"ส่วนประกอบ","Scene"->"ฉาก","Others"->"อืนๆ") }
@main(Messages("home.title"), Some(user)){
  <div class="container">
         <br><br><br>
            <div class="mt mb ">
               <h3><i class="fa fa-upload" aria-hidden="true"></i> อัพโหลดผลงานสามมิติ</h3>
           </div>
             <div class="panel panel-info">
                <div class="panel-body">
                  <div class="container">
                    <div class="row">
                     <div class="col-sm-1  ">
                     </div>
                      <div class="col-sm-8  ">

                        @helper.form(action = routes.ApplicationController.updateMD2,'enctype -> "multipart/form-data") {
                          @helper.CSRF.formField

                            @b3.text( uploadForm("title"), '_label -> "หัวข้อ" )
                            @b3.textarea( uploadForm("detail"), '_label -> "รายละเอียดผลงาน" ,'rows -> 3 )
                            @b3.select( uploadForm("tags"), options = blend, '_label -> "หมวดหมู่" )
                            @b3.file( uploadForm("picture"), '_label -> "อัพโหลดไฟล์รูปภาพ" )
                            @b3.file( uploadForm("fileblend"), '_label -> "อัพโหลดไฟล์ .blend" )
                            @b3.file( uploadForm("filehtml"), '_label -> "อัพโหลดไฟล์ html" )

                            <div class=" text-right">
                               <button type="submit" class="btn btn-primary">บันทึก</button> &nbsp; &nbsp;
                               <button type="submit" class="btn btn-danger">ยกเลิก</button>
                             </div>

                          }

                            </div>   <!-- col-md-8 -->
                         </div>   <!-- row -->
                      </div><!-- container -->
                   </div><!-- panal-body -->
                 </div><!-- panal -->
              </div><!--inner-->


          @footer()
}
