@(forumForm: Form[forms.forumForm.Data],user: models.User)(implicit request: RequestHeader , messages: Messages)
<!DOCTYPE html>

@import b3.inline.fieldConstructor
@main(Messages("home.title"),Some(user)){
<div class="container">
  <br><br><br>
  <div class="mt mb ">
    <h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i> แก้ไขกระทู้สนทนา</h3>
  </div>
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-1  ">
          </div>
          <div class="col-sm-8  ">
            @helper.form(action = routes.ApplicationController.updatePost2 ,'enctype -> "multipart/form-data") {
            @helper.CSRF.formField

            h5 >หัวข้อกระทู้</h5>
            @b3.text( forumForm("title") )
            @b3.textarea( forumForm("detail"), '_label -> "เนื้อหากระทู้" ,'rows -> 3 )
            @b3.file( forumForm("picture"), '_label -> "อัพโหลดไฟล์" )

            <div class=" text-right">
              <button type="submit" class="btn btn-primary">บันทึก</button> &nbsp; &nbsp;
              <button type="submit" class="btn btn-danger">ยกเลิก</button>
            </div>


            }
          </div>   <!-- col-md-8 -->
        </div>   <!-- row -->
      </div><!-- container -->
    </div><!-- panal-body -->
  </div><!-- panal -->
</div><!--inner-->

}
