@(users : Seq[models.DBUser],user: models.User, dbfollow : Seq[models.Follow])(implicit request: RequestHeader, messages: Messages)
@import scala.util.control._;var a = "n";
<!DOCTYPE html>
@main(Messages("home.title"), Some(user)){
<br><br>
  <div class="container">
      <div class="inner">
           <div class="mt mb ">
              <h3><i class="fa fa-users" aria-hidden="true"></i> ผู้ติดตาม</h3>
          </div>
          <div class="panel panel-info">
             <div class="panel-body">
        <div class="row">

             <div class="col-sm-12 col-xs-12">
                 <ul class="breadcrumb">
                     <li>
                        <i class="fa fa-users" aria-hidden="true"></i><a href="#"> ผู้ใช้ที่กำลังติดตาม</a>
                     </li>
                 </ul>
             </div>
             @for(u
               <- users){
                 @if(u.userID.toString != user.userID.toString){
                  @for(f<- dbfollow){
                    @if(u.userID == f.fid){
                   <div class=" col-sm-2 col-xs-2">
                     <div class="box2">
                       <a  class="image fit"><img src="@routes.Assets.at("images/user2.jpg")"  width="300" height="150" /></a>
                       <div class="inner">
                         <a href="@routes.IndieApplication.profile(u.userID)"><h5>@u.firstName</h5></a>
                      }
                    }
                   @for(f <- dbfollow){
                     @if(f.fid == u.userID.toString && user.userID.toString == f.userID){
                             <a href="@routes.ApplicationController.deletefollow(f.fid)"  >
                               <button class="button fit btn-sm"><i class="fa fa-plus" ></i> เลิกติดตาม</button>
                             </a>
                     }
                   }

                 }
               }
           </div>
         </div>
       </div>
      </div>
    </div>

}
