@(user: models.User)(implicit messages: Messages)
<!DOCTYPE html>
@main("home"){
  <body>
    <br><br>
    <div id="social">
      <div class="row ">
        <div class="col-lg-1  col-lg-offset-4">
          <a href="https://www.facebook.com"><img src="assets/images/social/facebook.png" class="img-responsive"></a>
        </div>
        <div class="col-lg-1">
          <a href="https://plus.google.com"><img src="assets/images/social/google.png" class="img-responsive"></a>
        </div>
        <div class="col-lg-1">
          <a href="https://www.instagram.com"><img src="assets/images/social/instagram.png" class="img-responsive"></a>
        </div>
        <div class="col-lg-1">
          <a href= "https://www.twitter.com"><img src="assets/images/social/twitter.png" class="img-responsive"></a>
        </div>
        <div class="col-lg-1">
          <a href="https://www.pinterest.com"><img src="assets/images/social/pinterest.png" class="img-responsive"></a>
        </div>
      </div><!--/row -->
    </div><!-- #Custom Javascripts Links -->

    <div id="footerwrap">
      <div class="container "></div>
      <h5 class="text-center">Computer science At Ubon Ratchathani University </h5>
    </div><!--/footerwrap -->

  </body>
}
