<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  <br><br>
    <div id="social">
      <div class="row ">
        <div class="col-xs-1  col-xs-offset-4">
          <a href="https://www.facebook.com"><img src="@routes.Assets.at("images/social/facebook.png")" class="img-responsive"></a>
        </div>
        <div class="col-xs-1">
          <a href="https://plus.google.com"><img src="@routes.Assets.at("images/social/google.png")" class="img-responsive"></a>
        </div>
        <div class="col-xs-1">
          <a href="https://www.instagram.com"><img src="@routes.Assets.at("images/social/instagram.png")" class="img-responsive"></a>
        </div>
        <div class="col-xs-1">
          <a href= "https://www.twitter.com"><img src="@routes.Assets.at("images/social/twitter.png")" class="img-responsive"></a>
        </div>
        <div class="col-xs-1">
          <a href="https://www.pinterest.com"><img src="@routes.Assets.at("images/social/pinterest.png")" class="img-responsive"></a>
        </div>
      </div><!--/row -->
    </div><!-- #Custom Javascripts Links -->

    <!-- <br><br><br>  -->
       <div id="footerwrap">
           <div class="container ">
             <h5 class="text-center">Computer science At Ubon Ratchathani University </h5>
           </div><!--/footer -->
         </div><!--/footerwrap -->
