@(user: models.User,dbforuminfo : Seq[models.Foruminfo], dbartwork : Seq[models.ArtWork])(implicit messages: Messages)
<!-- , dbforuminfo : Option[models.Foruminfo] -->
@main(Messages("home.title") ) {
<body>
  <div id="wrap3">
    <div class="user col-md-6 col-md-offset-3">

    </div>
    <div class = "container">
      <div id="headerwrap">
      </div>
</div>

    @model(user,dbartwork)
</div>
      @posts(user,dbforuminfo)
     <br><br>
      <div id="wrap4">
        <div class="container ">
          <h5 class="text-center">Computer science At Ubon Ratchathani University </h5>
        </div><!--/footer -->
      </div>


</body>
}
