@(user: models.User,dbforuminfo : Seq[models.Foruminfo],users : Seq[models.DBUser])(implicit messages: Messages)

@main(Messages("home.title"), Some(user)){
  <br><br><br>

     <div class="container">
          <h3>จัดการกระทู้สนทนา</h3>
          <div class="row data">
            <div id="wrap2">
          <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" >
            <thead>
              <tr>
                <th>Full name</th>
                <th>Title</th>
                <th>Details</th>

                <th style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              @for(foruminfo
                <- dbforuminfo){
                  <tr>
                  @for(u
                    <- users){
                  @if(foruminfo.userID == u.userID.toString){
                  <td>@u.firstName</td>
                      }
                    }
                  <td>@foruminfo.title</td>
                  <td>@foruminfo.detail</td>

                  <td style="text-align: center;" class="col-md-2 col-sm-3">
                    <a  href="@routes.ApplicationController.deletePost(foruminfo.id)" class="btn btn-sm  btn btn-danger">ลบ</a>
                  </td>
            </tr>
          }
            </tbody>
          </table>
        </div>
      </div>

  </div>

}
