@(user: models.User)(implicit messages: Messages)
<!DOCTYPE html>
@main(Messages("home.title"),Some(user)){

<div class="container">
          <br><br>
           <h3><i class="fa fa-cubes" aria-hidden="true"></i> The 3D Model </h3>
           <br><br>
           <div class="thumbnails">
               <div class="box">
                   <a  class="image fit"><img src="@routes.Assets.at("images/model/car.png")" alt="" width="600" height="200"/></a>
               <div class="text-left">
                   <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1</a>
                   <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 2</a>
                   <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 5</a>
               </div>
              <div class="inner">
                   <h5>Car model 3d</h5>
                    <a href="/showmodel" class="button fit" ><i class="fa fa-eye" aria-hidden="true"></i> Watch</a>
              </div>
            </div>

            <div class="box">
                   <a class="image fit"><img src="@routes.Assets.at("images/model/jagun.png")" alt="" width="600" height="200"/></a>
              <div class="text-left">
                   <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 2</a>
                   <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 2</a>
                   <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 3</a>
              </div>
            <div class="inner">
                  <h5>Vase model 3d </h5>
                  <a href="/showmodel" class="button style2 fit" ><i class="fa fa-eye" aria-hidden="true"></i> Watch</a>
                </div>
            </div>

            <div class="box">
                   <a class="image fit"><img src="@routes.Assets.at("images/model/king.png")" alt="" width="600" height="200"/></a>
              <div class="text-left">
                   <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 3</a>
                   <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> 2</a>
                   <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 2</a>
              </div>
              <div class="inner">
                   <h5>Monkey model 3d</h5>
                   <a href="/showmodel" class="button style3 fit" > <i class="fa fa-eye" aria-hidden="true"></i> Watch</a>
              </div>
            </div>
          </div><!--thumbnails-->

          <div class="text-center ">
          <nav aria-label="Page navigation">
             <ul class="pagination pagination-sm ">
              <li>
                  <a href="#" aria-label="Previous">
                 <span aria-hidden="true">&laquo;</span>
                 </a>
             </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>

             <li>
                 <a href="#" aria-label="Next">
                 <span aria-hidden="true">&raquo;</span>
              </a>
             </li>
           </ul>
         </nav>
        </div>
       </div><!-- container -->


}
