@(user: models.User , dbartwork : Seq[models.ArtWork])(implicit messages: Messages)
<!DOCTYPE html>
@main(Messages("home.title")){

<div class="container">
          <br><br>
           <h3><i class="fa fa-cubes" aria-hidden="true"></i> โมเดล 3มิติ</h3>
           <div class="thumbnails">
             @for(artwork
             <- dbartwork ){
               <div class="box">
                   <a  class="image fit"><img src="@routes.Assets.at("images/")@artwork.picture" alt="" width="600" height="200"/></a>
                   <!-- <a  class="image fit"><img src="@routes.Assets.at("images/model/car.png")" alt="" width="600" height="200"/></a> -->
              <div class="inner">
                   <h5>@artwork.title</h5>
                    <a href="@routes.IndieApplication.modelshow(artwork.id, artwork.userID)" class="button fit" ><i class="fa fa-eye" aria-hidden="true"></i> เนื้อหาโมเดล</a>
              </div>
            </div>
          }
          </div><!--thumbnails-->
         </div><!--container-->

}
