@(user: models.User,users : Seq[models.DBUser],dbartwork : Seq[models.ArtWork])(implicit request: RequestHeader, messages: Messages)

<!DOCTYPE html>
@main(Messages("home.title"), Some(user)){
  <br><br>
  <div class="container">
      <div class="col-sm-8 ">
          <h3><i class="fa fa-user" aria-hidden="true"></i> My Profile</h3>
      </div>

   <div class="col-sm-8 " >
          <ul class="breadcrumb">
              <li>
                    <i class="fa fa-folder-open" aria-hidden="true"></i><a href="#"> My Blend</a>
              </li>
          </ul>
          @for(user
            <- users){
          @for(artwork
          <- dbartwork ){
               @if(artwork.userID == user.userID){
             <div class=" col-sm-4">
               <div class="box2">
                     <a  class="image fit"><img src="@routes.Assets.at("images/")@artwork.picture"alt="" width="300" height="150"/></a>

                     <div class="inner">
                       <h5>@artwork.title</h5>
                       <a href="@routes.IndieApplication.showmodel(artwork.id, artwork.userID )" class="button btn-sm" ><i class="fa fa-eye" aria-hidden="true"></i> Watch</a>
                </div>
              </div>
            </div><!--col-sm3-->
          }
        }


     </div><!--col-sm-8-->
     <div id="land-widget" class="col-sm-4 list-group ">

            <li  class=" list-group-item ">
                <img src= "@routes.Assets.at("images/user.png")" class="img-circle " width="70">
                <h5 class="list-group-item-heading"><i class="fa fa-user" aria-hidden="true"></i> @user.fullName</h5>
                <div class="row overview ">
                  <div class="col-md-6 user-pad text-center">
                      <h5  style="color:#FF9933">FOLLOWERS</h5>
                      <a href="#"><h6>84</h6></a>
                  </div>
                  <div class="col-md-6 user-pad text-center">
                      <h5  style="color:#FF9933">FOLLOWING</h5>
                      <a href="#"><h6>56</h6></a>
                  </div>

              </div>
          </li>

          <li class="list-group-item">
                <h5 class="list-group-item-heading">About Me </h5>
                <h5><i class="fa fa-user" aria-hidden="true"></i> Name : @user.fullName</h5>
                <h5><i class="fa fa-envelope" aria-hidden="true"></i> Email : @user.email</h5>
                <h5><i class="fa fa-link" aria-hidden="true"></i> Website</h5>
                <h5><i class="fa fa-calendar" aria-hidden="true"></i> Date</h5>

                <a href="#"><i class="fa fa-tag" aria-hidden="true"></i></a>
          </li>
        }
          <li class="list-group-item">
                <a href="#"><h5 style="color:#FF9933">Edit Peofile</h5></a>


          </li>

       </div><!--col-md-4 list-group-->
  </div> <!--container-->


}
