@( dbartwork : Seq[models.ArtWork],dbcommemt : Seq[models.Comment], users : Seq[models.DBUser] ,u : Seq[models.DBUser])(implicit request: RequestHeader, messages: Messages)
<!DOCTYPE html>

@main(Messages("home.title")){

  <div class="container">
    @for(artwork
    <- dbartwork ){
    <div class="col-sm-8 ">
      <br><br>

      <h3>@artwork.title</h3>
    </div>
    <div class="col-sm-8 " >
        <a  class="image fit"><img src=@routes.Assets.at(s"members/${artwork.userID}/${artwork.picture}") height="480" width="740" />
          <div class="carousel-caption">
            <a href=@routes.Assets.at(s"members/${artwork.userID}/${artwork.filehtml}")>
              <button  class="btn-theme btn-theme-md btn-white-bg "  >
              <i class="fa fa-eye" aria-hidden="true"></i> ตัวอย่างโมเดล</button>
            </a>
          </div>
        </a>

      <div class=" text-right" >
       <a href="@routes.IndieApplication.addcollection(artwork.id)" class="btn btn-warning btn-sm button disabled">
         <i class="fa fa-plus-square" aria-hidden="true"></i> แฟ้มสะสม </a>
       <a href="@routes.Assets.at(s"members/${artwork.userID}/${artwork.fileblend}") " class="btn btn-warning btn-sm button disabled"><i class="fa fa-download" aria-hidden="true"></i>  ดาวน์โหลด  </a>
      </div>

      <br>

      <div class="row">
        @for(comment
         <- dbcommemt){
          @if(comment.artworkid == artwork.id){
            @for(us <- u){
              @if(comment.userID == us.userID){
            <div class="col-sm-1">
              <img class="img-responsive user-photo" src="@routes.Assets.at("images/user.png")"  >
            </div><!-- /col-sm-1 -->
            <div class="col-sm-10">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>@us.fullName</strong>
                    </div>
                <div class="panel-body">
                  <h5>@comment.detail</h5>
                </div><!-- /panel-body -->
              </div><!-- /panel panel-default -->
            </div><!-- /col-sm-10 -->
          }
        }
      }
    }

      </div><!--row-->
    </div><!--col-md-8-->

    @for(user
      <- users){
    <div id="land-widget" class="col-sm-4 list-group ">
      <li  class=" list-group-item ">
        <img  src= "@routes.Assets.at("images/user.png")"  class="img-circle " width="70">
        <h5 class="list-group-item-heading">เจ้าของผลงาน @user.fullName</h5>
        <a href="@routes.IndieApplication.profile(user.userID)" class="btn btn-info btn-block btn-sm button disabled"   ><i class="fa fa-user" aria-hidden="true"></i> โปรไฟล์</a>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">เกี่ยวกับโมเดล</h5>
        <h5>Date :</h5>
        <h5>Time :</h5>
        <a href="#"><i class="fa fa-tag" aria-hidden="true"></i> : @artwork.tags</a>
      </li>
      <li id="super_recent_posts_widget-3" class="widget recent_custom_posts testimonial list-group-item">
        <h4 class="widgettitle list-group-item-heading"><a href="#">รายละเอียดโมเดล </a></h4>
        <div class="recent_custom_posts_item">
          <div class="post-entry">
            <div class="testemonial-item">
              <div class="mb-thumb"></div>
              <blockquote cite="https://www.vulkanmedia.se/testimonial/jag-ar-mycket-nojd-med-det-fardiga-resultatet/" title="Jag är mycket nöjd med det färdiga resultatet">
                <a href="https://www.vulkanmedia.se/testimonial/jag-ar-mycket-nojd-med-det-fardiga-resultatet/">
                  <p> @artwork.detail </p>
                </a>
                </blockquote>
              </div>
            </div>
          </div>
        </li>
      </div><!--col-md-4 list-group-->
    }
}
  </div><!--container-->
  }
