@(dbforuminfo : Seq[models.Foruminfo], dbanswer : Seq[models.Answer],users : Seq[models.DBUser],listuser : Seq[models.DBUser])(implicit request: RequestHeader , messages: Messages)
<!DOCTYPE html>

@main(Messages("home.title")){
   <body>
     <div class="container">
            <br><br>
            <h3><i class="fa fa-list-alt" aria-hidden="true"></i> กระทู้สนทนา</h3>
               <div class="panel panel-info">
                  <div class="panel-body">
                    <div class="container">
                      <div class="row">
                        @for(user
                          <- users){
                            <div class="col-sm-3  ">
                                <ul class="breadcrumb">
                                <li>
                                  <img class="img-responsive user-photo" src="@routes.Assets.at("images/user.png")"  width="80" >
                                    <br>
                                    <i class="fa fa-user" aria-hidden="true"></i> เจ้าของกระทู้ @user.fullName
                                </li>
                                    <br><br>
                                    <a href="@routes.IndieApplication.profile(user.userID)" class="btn btn-info btn-block btn-sm button disabled"   ><i class="fa fa-user" aria-hidden="true"></i> โปรไฟล์</a>

                                </ul>
                             </div>
                           }
                           @for(foruminfo
                             <- dbforuminfo){


                               <div class="col-sm-8  ">
                                     <h3>@foruminfo.title</h3>
                                     <hr>
                                  <!--upload image-->
                                   <img src="@routes.Assets.at("images/")@foruminfo.picture" class="img-responsive" width="600">

                                 <!--add Description -->
                                  <h5> @foruminfo.detail</h5>
                                   <br>



                                         <br>
                                 <div class="row">
                                   @for(answer
                                     <- dbanswer){
                                          @if(answer.forumid == foruminfo.id){
                                            @for(u <- listuser){

                                              @if(answer.userID == u.userID){
                                       <div class="col-sm-10">
                                            <div class="panel panel-default">
                                                 <div class="panel-heading">
                                                       <strong>@u.fullName</strong>
                                                       <!-- <span class="text-muted">commented 5 days ago</span> -->
                                                 </div>
                                               }
                                             }
                                          <div class="panel-body">
                                            <h5>@answer.detail</h5>
                                          </div><!-- /panel-body -->
                                        </div><!-- /panel panel-default -->
                                      </div><!-- /col-sm-10 -->
                                      }
                                    }
                                    </div><!--row-->
                                  </div>   <!-- col-md-8 -->
                                </div>   <!-- row -->
                             </div><!-- container -->
                          </div><!-- panal-body -->
                        </div><!-- panal -->
                     </div><!-- container -->
                   }
       </body>
       }
