@(Forms: Form[forms.CommentForm.Data],dbforuminfo : Option[models.Foruminfo], dbanswer: Seq[models.Answer],users : Seq[models.DBUser],user: models.User,listuser : Seq[models.DBUser])(implicit request: RequestHeader , messages: Messages)
<!DOCTYPE html>
@import b3.inline.fieldConstructor
@main(Messages("home.title"), Some(user)){
   <body>
     <div class="container">
            <br><br>
            <h3><i class="fa fa-list-alt" aria-hidden="true"></i> กระทู้สนทนา</h3>
               <div class="panel panel-info">
                  <div class="panel-body">
                    <div class="container">
                      <div class="row">
                        @for(user
                          <- users){
                            <div class="col-sm-3  ">
                                <ul class="breadcrumb">
                                <li>
                                  <img class="img-responsive user-photo" src="@routes.Assets.at("images/user.png")"  width="80" >
                                    <br>
                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i> เจ้าของกระทู้ @user.fullName</a>
                                </li>
                                    <br>
                                    <a href="#"><i class="fa fa-tag" aria-hidden="true"></i></a>

                                </ul>
                             </div>
                           }
                           @for(foruminfo
                             <- dbforuminfo){
                             <div class="col-sm-8  ">
                                @if(foruminfo.userID.toString == user.userID.toString){
                               <div class=" text-right">
                                <a  style="color:#FF9933" href="@routes.ApplicationController.updatepost(foruminfo.id ) "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
                                <a  style="color:#FF9933" data-toggle="modal" href="#modeldelete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                               </div>
                             }
                                     <h3>@foruminfo.title</h3>
                                     <hr>
                                  <!--upload image-->
                                   <img src="@routes.Assets.at("images/")@foruminfo.picture" class="img-responsive" width="600">

                                 <!--add Description -->
                                  <h5> @foruminfo.detail</h5>
                                   <br>

                                  <div class="row">
                                                 <br>
                                                 <div class="col-sm-1">
                                                          <img class="img-responsive user-photo" src="@routes.Assets.at("images/user.png")"  >
                                                 </div><!-- /col-sm-1 -->
                                  <div class="col-sm-10">
                                    @helper.form(action = routes.IndieApplication.answer()) {
                                        @helper.CSRF.formField
                                                      @b3.hidden( "commenterID", user.userID )
                                                      @b3.textarea( Forms("detail"), '_label -> "แสดงความคิดเห็น" ,'rows -> 3 )
                                                    <div class=" text-right" >
                                                         <button type="submit" class="btn btn-info  ">ตกลง</button>
                                                       </div>
                                                 }
                                               </div>
                                         </div><!-- /row -->
                                         <br>

                                 <div class="row">
                                   @for(answer
                                     <- dbanswer){
                                       @if(answer.forumid == foruminfo.id){
                                         @for(u <- listuser){

                                           @if(answer.userID == u.userID){

                                         <div class="col-sm-1">
                                                    <img class="img-responsive user-photo" "@routes.Assets.at("images/user.png")" width="60" >
                                           </div><!-- /col-sm-1 -->
                                       <div class="col-sm-10">
                                            <div class="panel panel-default">
                                                 <div class="panel-heading">
                                                       <strong>@u.fullName</strong>
                                                       <!-- <span class="text-muted">commented 5 days ago</span> -->
                                                       <div class=" text-right">
                                                        <a   href="# "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
                                                        <a   data-toggle="modal" href="#modeldelete2"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                       </div>
                                                  }
                                                }

                                                 </div>
                                          <div class="panel-body">
                                            <h5>@answer.detail</h5>
                                          </div><!-- /panel-body -->
                                        </div><!-- /panel panel-default -->
                                      </div><!-- /col-sm-10 -->
                                    }


                                      <div class="modal" id="modeldelete2" role="dialog">
                                              <div class="modal-dialog">
                                                 <div class="modal-content">
                                                       <div class="modal-header">
                                                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                              <h4 style="color:#000" class="modal-title">ลบความคิดเห็น</h4>
                                                        </div>
                                                <div class="modal-body">
                                                      <h4 style="color:#000" >คุณต้องการลบความคิดเห็นนี้หรือไม่</h4>
                                               </div>
                                                   <div class="modal-footer">
                                                              <a href="#" data-dismiss="modal" class="btn">ยกเลิก</a>
                                                              <a href="@routes.ApplicationController.deleteanswer(answer.id)" class="btn btn-warning">ยืนยัน</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>  <!--dialog edit comment -->
                                    }
                                    </div><!--row-->
                                   </div>   <!-- col-md-8 -->
                                </div>   <!-- row -->
                             </div><!-- container -->
                          </div><!-- panal-body -->
                        </div><!-- panal -->
                        <!--dialog edit delete forum -->
            <div class="modal" id="modeldelete" role="dialog">
  	                <div class="modal-dialog">
                       <div class="modal-content">
                             <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 style="color:#000" class="modal-title">ลบกระทู้สนทนา</h4>
                              </div>
                      <div class="modal-body">
                            <h4 style="color:#000" >คุณต้องการลบกระทู้สนทนานี้หรือไม่</h4>
                     </div>
                         <div class="modal-footer">
                                    <a href="#" data-dismiss="modal" class="btn">ยกเลิก</a>
                                    <a href="@routes.ApplicationController.deletePost(foruminfo.id)" class="btn btn-warning">ยืนยัน</a>
                        </div>
                    </div>
                </div>
            </div>  <!--dialog edit password -->

        }
          </div><!-- container -->
              <!--link social-->

       </body>
       }
