@(Forms: Form[forms.CommentForm.Data],u: models.User,dbartwork : Seq[models.ArtWork],dbcommemt : Seq[models.Comment],users : Seq[models.DBUser],dbcol :Seq[models.Collection] )(implicit request: RequestHeader, messages: Messages)
<!DOCTYPE html>
@import b3.inline.fieldConstructor
@main(Messages("home.title"),Some(u)){

  <div class="container">
    @for(artwork
      <- dbartwork ){
        <div class="col-sm-8 ">
          <br><br>
            <h3>@artwork.title</h3>
        </div>

        <div class="col-sm-8 " >
          <a  class="image fit"><img src=@routes.Assets.at(s"members/${artwork.userID}/${artwork.picture}") height="480" width="740" />
          </a>
          <div class=" text-right" >
            <a href=@routes.Assets.at(s"members/${artwork.userID}/${artwork.filehtml}") >
              <button class="btn btn-info btn-sm " ><i class="fa fa-eye" aria-hidden="true"></i> ตัวอย่างโมเดล</button>
            </a>
            <a href="@routes.IndieApplication.addcollection(artwork.id)"  >
              <button class="btn btn-success btn-sm " ><i class="fa fa-plus-square" aria-hidden="true"></i> แฟ้มสะสม</button>
            </a>
            <a href=@routes.Assets.at(s"members/${artwork.userID}/${artwork.fileblend}") >
              <button class="btn btn-warning btn-sm " ><i class="fa fa-download" aria-hidden="true"></i>  ดาวน์โหลด</button>
            </a>
          </div>

      <div class="row">
              <br>
              <div class="col-sm-1">
                <img class="img-responsive user-photo" src="@routes.Assets.at("images/user.png")"  >
              </div><!-- /col-sm-1 -->
              <div class="col-sm-10">
          @helper.form(action = routes.IndieApplication.comment()) {
              @helper.CSRF.formField
                            @b3.hidden( "commenterID", u.userID )
                            @b3.textarea( Forms("detail"), '_label -> "ความคิดเห็น" ,'rows -> 3 )
                          <div class=" text-right" >
                               <button type="submit" class="btn btn-info  ">ตกลง</button>
                             </div>
                       }
                     </div>
                   </div><!-- /row -->
                   <br>

                   <div class="row">
                     @for(comment
                      <- dbcommemt){
                       @if(comment.artworkid == artwork.id){
                         @for(u <- users){
                           @if(comment.userID == u.userID){
                         <div class="col-sm-1">
                           <img class="img-responsive user-photo" src="@routes.Assets.at("images/user.png")"  >
                         </div><!-- /col-sm-1 -->
                         <div class="col-sm-10">
                           <div class="panel panel-default">
                             <div class="panel-heading">
                               <strong>@u.fullName</strong>
                               <div class=" text-right">
                                 <a   href="# "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
                                 <a   data-toggle="modal" href="#modeldelete2"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                               </div>

                             </div>
                             <div class="panel-body">
                               <h5>@comment.detail</h5>
                             </div><!-- /panel-body -->
                           </div><!-- /panel panel-default -->
                         </div><!-- /col-sm-10 -->
                       }
                     }
                   }
                       <div class="modal" id="modeldelete2" role="dialog">
                         <div class="modal-dialog">
                           <div class="modal-content">
                             <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 style="color:#000" class="modal-title">ลบความคิดเห็น</h4>
                          </div>
                          <div class="modal-body">
                            <h4 style="color:#000" >คุณต้องการลบความคิดเห็นนี้หรือไม่</h4>
                          </div>
                          <div class="modal-footer">
                                <a href="#" data-dismiss="modal" class="btn">ยกเลิก</a>
                                <a href="@routes.ApplicationController.deleteComment(comment.id)" class="btn btn-warning">ยืนยัน</a>
                         </div>
                       </div>
                     </div>
                   </div>  <!--dialog edit comment -->
                 }
               </div><!--row-->
             </div><!--col-md-8-->
             @for(user
              <- users){
                <div id="land-widget" class="col-sm-4 list-group ">
                  <li  class=" list-group-item ">
                    <img  src= "@routes.Assets.at("images/user.png")"  class="img-circle " width="70">
                    <h5 class="list-group-item-heading">เจ้าของผลงาน @{user.fullName}</h5>
                    <a href="@routes.IndieApplication.profile(user.userID)" class="btn btn-info btn-block "  ><i class="fa fa-user" aria-hidden="true"></i> โปรไฟล์</a>
                  </li>
                  <li class="list-group-item">
                    <h5 class="list-group-item-heading">เกี่ยวกับโมเดล</h5>
                    <h5>Date :</h5>
                    <h5>Time :</h5>
                    <a href="#"><i class="fa fa-tag" aria-hidden="true"></i> : @artwork.tags</a>
                  </li>
                  <li id="super_recent_posts_widget-3" class="widget recent_custom_posts testimonial list-group-item">
                    <h4 class="widgettitle list-group-item-heading"><a href="#">รายละเอียดโมเดล </a></h4>
                    <div class="recent_custom_posts_item">
                      <div class="post-entry">
                        <div class="testemonial-item">
                          <div class="mb-thumb"></div>
                          <blockquote cite="https://www.vulkanmedia.se/testimonial/jag-ar-mycket-nojd-med-det-fardiga-resultatet/" title="Jag är mycket nöjd med det färdiga resultatet">
                            <a href="https://www.vulkanmedia.se/testimonial/jag-ar-mycket-nojd-med-det-fardiga-resultatet/">
                              <p> @artwork.detail </p>
                            </a>
                          </blockquote>
                        </div>
                        <div class="clear"> </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <h5 class="list-group-item-heading "></h5>

                    @if(artwork.userID.toString == u.userID.toString){
                      <div class=" text-right">
                        <a href="@routes.ApplicationController.updatemd(artwork.id ) " class="btn btn-warning " > แก้ไข <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
                        <a data-toggle="modal" href="#modeldelete" class="btn btn-danger  "  > ลบ <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      </div>
                    }
                  </li>
                </div><!--col-md-4 list-group-->
                <div class="modal" id="modeldelete" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                       <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <h4 style="color:#000" class="modal-title">ลบโมเดล</h4>
                        </div>
                <div class="modal-body">
                      <h4 style="color:#000" >คุณต้องการลบโมเดลหรือไม่</h4>
                </div>
                   <div class="modal-footer">
                              <a href="#" data-dismiss="modal" class="btn">ยกเลิก</a>
                              <a href="@routes.ApplicationController.deleteModel(artwork.id)" class="btn btn-warning">ยืนยัน</a>
                  </div>
                </div>
              </div>
            </div>  <!--dialog edit password -->
          }
        }
      </div><!--container-->
   }
