@(Forms: Form[forms.CommentForm.Data],user: models.User,users : Seq[models.DBUser],dbartwork : Seq[models.ArtWork],dbcommemt : Seq[models.Comment])(implicit request: RequestHeader, messages: Messages)
<!DOCTYPE html>
@import b3.inline.fieldConstructor
@main(Messages("home.title"),Some(user)){

  <div class="container">
    @for(artwork
    <- dbartwork ){
    <div class="col-sm-8 ">
      <br><br>

      <h3>@artwork.title</h3>
    </div>
    <div class="col-sm-8 " >
      <!--upload file html-->
      <!-- <iframe src="@routes.Assets.at("members/01/")@artwork.filehtml" name="iframe_a" height="480" width="740" style="border:none;"></iframe> -->
      <iframe src="@routes.Assets.at("members/01/car2.html")" name="iframe_a" height="480" width="740" style="border:none;"></iframe>
      <br>
      <div class=" text-right" >
        <button class="btn btn-info btn-sm " ><i class="fa fa-plus" aria-hidden="true"></i>  FOLLOW</button>
        <button class="btn btn-success btn-sm " ><i class="fa fa-plus-square" aria-hidden="true"></i>  COLLECT</button>
        <button class="btn btn-warning btn-sm " ><i class="fa fa-download" aria-hidden="true"></i>  DOWNLOAD</button>
      </div>

      <div class="row">
        <h5><span class="badge">2</span> Comment </h5>
        <br>
        <div class="col-sm-1">
          <img class="img-responsive user-photo" src="@routes.Assets.at("images/user.png")"  >
        </div><!-- /col-sm-1 -->
        <div class="col-sm-10">
          @helper.form(action = routes.IndieApplication.comment()) {
              @helper.CSRF.formField
                            @b3.hidden( "commenterID", user.userID )
                            @b3.textarea( Forms("detail"), '_label -> "Comment" ,'rows -> 3 )
                          <div class=" text-right" >
                               <button type="submit" class="btn btn-info  ">send</button>
                             </div>
                       }
        </div>
      </div><!-- /row -->
      <br>

      <div class="row">
        @for(comment
          <- dbcommemt){
        <div class="col-sm-1">
          <img class="img-responsive user-photo" src="@routes.Assets.at("images/user.png")"  >
        </div><!-- /col-sm-1 -->
        <div class="col-sm-10">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
              <div class=" text-right">
                <a   href="# "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
                <a   data-toggle="modal" href="#modeldelete2"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="panel-body">
              <h5>@comment.detail</h5>
            </div><!-- /panel-body -->
          </div><!-- /panel panel-default -->
        </div><!-- /col-sm-10 -->
        <div class="modal" id="modeldelete2" role="dialog">
                <div class="modal-dialog">
                   <div class="modal-content">
                         <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 style="color:#000" class="modal-title">Delete Comment</h4>
                          </div>
                  <div class="modal-body">
                        <h4 style="color:#000" >คุณต้องการลบความคิดเห็นนี้หรือไม่</h4>
                 </div>
                     <div class="modal-footer">
                                <a href="#" data-dismiss="modal" class="btn">ยกเลิก</a>
                                <a href="@routes.ApplicationController.deleteComment(comment.userID)" class="btn btn-warning">ยืนยัน</a>
                    </div>
                </div>
            </div>
        </div>  <!--dialog edit comment -->
      }
      </div><!--row-->
    </div><!--col-md-8-->
    @for(user
      <- users){
    <div id="land-widget" class="col-sm-4 list-group ">
      <li  class=" list-group-item ">
        <img  src= "@routes.Assets.at("images/user.png")"  class="img-circle " width="70">
        <h5 class="list-group-item-heading">By @user.fullName</h5>
        <a href="/profile" class="btn btn-info btn-block "  ><i class="fa fa-user" aria-hidden="true"></i>  VIEW PROFILE</a>
      </li>

      <li class="list-group-item">
        <h5 class="list-group-item-heading">About This Model</h5>
        <h5>Date :</h5>
        <h5>Time :</h5>
        <a href="#"><i class="fa fa-tag" aria-hidden="true"></i> : @artwork.tags</a>
      </li>
      <li id="super_recent_posts_widget-3" class="widget recent_custom_posts testimonial list-group-item">
        <h4 class="widgettitle list-group-item-heading"><a href="#">Description </a></h4>
        <div class="recent_custom_posts_item">
          <div class="post-entry">
            <div class="testemonial-item">
              <div class="mb-thumb"></div>
              <blockquote cite="https://www.vulkanmedia.se/testimonial/jag-ar-mycket-nojd-med-det-fardiga-resultatet/" title="Jag är mycket nöjd med det färdiga resultatet">
                <a href="https://www.vulkanmedia.se/testimonial/jag-ar-mycket-nojd-med-det-fardiga-resultatet/">
                  <p> @artwork.detail </p>
                </a>
                </blockquote>
              </div>
              <div class="clear"> </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <h5 class="list-group-item-heading "></h5>
          <div class=" text-right">
           <a href="@routes.ApplicationController.updatemd(artwork.userID ) " class="btn btn-warning " > Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
           <a data-toggle="modal" href="#modeldelete" class="btn btn-danger  "  > Delete <i class="fa fa-trash-o" aria-hidden="true"></i></a>
          </div>
        </li>
      </div><!--col-md-4 list-group-->
      <div class="modal" id="modeldelete" role="dialog">
              <div class="modal-dialog">
                 <div class="modal-content">
                       <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <h4 style="color:#000" class="modal-title">Delete Model</h4>
                        </div>
                <div class="modal-body">
                      <h4 style="color:#000" >คุณต้องการลบโมเดลหรือไม่</h4>
               </div>
                   <div class="modal-footer">
                              <a href="#" data-dismiss="modal" class="btn">ยกเลิก</a>
                              <a href="@routes.ApplicationController.deleteModel(artwork.userID)" class="btn btn-warning">ยืนยัน</a>
                  </div>
              </div>
          </div>
      </div>  <!--dialog edit password -->
    }
  }
  </div><!--container-->


  <!-- /Page -->

  }
