@import forms._

@(user: models.User)(implicit request: RequestHeader , messages: Messages)
<!-- ArtForm: Form[forms.ArtForm.Data], -->
<!DOCTYPE html>
//@import b3.inline.fieldConstructor
@main(Messages("home.title"), Some(user)){
  <div class="container">
         <br><br><br>
            <div class="mt mb ">
               <h3><i class="fa fa-upload" aria-hidden="true"></i> UPLOAD MODEL</h3>
           </div>
             <div class="panel panel-info">
                <div class="panel-body">
                  <div class="container">
                    <div class="row">
                     <div class="col-sm-1  ">
                     </div>
                      <div class="col-sm-8  ">

                        <form method="POST" action="/uploadmodel" enctype="multipart/form-data">
                            <input type="hidden" name="user" value=@user.userID />
                            <div class="form-group">
                              <h5 >ชื่อโมเดล</h5>
                              <input type="text" name="title" class="form-control">
                            </div>
                               <div class="form-group">
                                 <h5 for="exampleTextarea">รายละเอียดโมเดล</h5>
                                 <textarea name="detail" class="form-control" id="exampleTextarea" rows="3"></textarea>
                               </div>

                               <div class="form-group">
                               <select name="modelType" class="custom-select">
                                 <option selected>เลือกหมวดหมู่</option>
                                 <option value="1">Character</option>
                                 <option value="2">Assets</option>
                                 <option value="3">Scene</option>
                                 <option value="4">Others</option>
                               </select>
                             </div>

                            <div class="form-group">
                                <h5 for="exampleInputFile">แนบไฟล์รูปภาพ</h5>
                                <input type="file" name="picturefile" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" style="color:#FF9933">
                            </div>

                            <div class="form-group">
                            <h5 for="exampleInputFile">แนบไฟล์.blend</h5>
                              <input type="file" name="blendfile" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" style="color:#FF9933">
                            </div>

                            <div class="form-group">
                            <h5 for="exampleInputFile">แนบไฟล์.่json</h5>
                              <input type="file" name="jsonfile" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" style="color:#FF9933">
                            </div>

                            <div class="form-group">
                            <h5 for="exampleInputFile">แนบไฟล์.html</h5>
                            <input type="file" name="htmlfile" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" style="color:#FF9933">
                            </div>

                            <div class="form-group has-success">
                              <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span style="color:#FFFFFF" class="custom-control-description">ยอมรับเงื่อนไข  <a data-toggle="modal" href="#model"  > เงื่อนไขการอัพโหลดผลงาน  </a></span>
                              </label>
                            </div>

                            <div class=" text-right">
                              <button type="submit" class="btn btn-primary">Submit</button> &nbsp; &nbsp;
                              <button type="submit" class="btn btn-danger">Cancel</button>
                            </div>
                          </form>

                            </div>   <!-- col-md-8 -->
                         </div>   <!-- row -->
                      </div><!-- container -->
                   </div><!-- panal-body -->
                 </div><!-- panal -->
              </div><!--inner-->


           <!--dialog -->
                     <div class="modal" id="model" role="dialog">
           	                <div class="modal-dialog">
                                <div class="modal-content">
                                      <div class="modal-header">
                                             <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >×</button>
                                             <h4 class="modal-title">เงื่อนไขการอัพโหลดผลงาน</h4>
                                       </div>
                               <div class="modal-body">
                                 <!-- <div class="well">
                                     <p>&nbsp;&nbsp;&nbsp;&nbsp;ผลงานที่ทำการอัพโหลดเป็นผลงานที่ถูกพัฒนาขึ้นด้วยสมาชิกเอง</p>
                                     <p>&nbsp;&nbsp;&nbsp;&nbsp;หากมีการคัดลอกผลงานเพื่อนำมาอัพโหลดทางเราจะไม่รับผิดชอบใดๆทั้งสิ้น</p>
                                     <p>&nbsp;&nbsp;&nbsp;&nbsp;ผู้พัฒนาต้องการแชร์ผลงานให้สมาชิกท่านอื่นโดยไม่มีเงื่อนไขหรือเสียค่าใช้จ่ายใดๆทั้งสิ้น</p>
                                </div> -->
                              </div>
                                  <div class="modal-footer">
                                             <a href="#" data-dismiss="modal" class="btn">Close</a>
                                             <a href="#" class="btn btn-warning">Ok</a>
                                 </div>
                             </div>
                         </div>
                     </div>  <!--dialog -->
}
